/* Chat0*/

.main__container input#chat0:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat0:checked ~ .main__container__right .chatCont0{
    display: flex;
}

/* Chat1 */

.main__container input#chat1:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat1:checked ~ .main__container__right .chatCont1{
    display: flex;
}

/* Chat2 */

.main__container input#chat2:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat2:checked ~ .main__container__right .chatCont2{
    display: flex;
}

/* Chat3 */

.main__container input#chat3:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat3:checked ~ .main__container__right .chatCont3{
    display: flex;
}

/* Chat4 */

.main__container input#chat4:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat4:checked ~ .main__container__right .chatCont4{
    display: flex;
}

/* Chat5 */

.main__container input#chat5:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat5:checked ~ .main__container__right .chatCont5{
    display: flex;
}

/* Chat6 */

.main__container input#chat6:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat6:checked ~ .main__container__right .chatCont6{
    display: flex;
}

/* Chat7 */

.main__container input#chat7:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat7:checked ~ .main__container__right .chatCont7{
    display: flex;
}

/* Chat8 */

.main__container input#chat8:checked ~ .main__container__right .main__container__right__p{
    display: none;
}

.main__container input#chat8:checked ~ .main__container__right .chatCont8{
    display: flex;
}