/* Colores */

$dark: #000;
$darkTwo: #666;
$light: #fff;
$lightTwo: #f0f0f0;
$lightThree: #ddd;
$color1: #88ac95;
$color11: #94b49f;
$color2: #CEE5D0;
$color3: #FCF8E8;
$color4: #ECB390;
$color5: #FA7070;


$green: #52e700;
$red: #cc0000;
$yellow: #ebeb00;


$mediaMaxWidth: 1260px;
$mediaMedMaxWidth: 1100px;
$mediaMedWidth: 960px;
$mediaMinWidth: 540px;